.container-center {
  margin: 2rem 0 0.5rem 0;
}

.message-info {
  display: flex;
  justify-content: center;
}

.message-info h3 {
  background-color: #fd411d;
  padding: 7px 38px;
  border-radius: 13px;
  font-size: 0.8rem;
}

.container-all-table {
  display: flex;
  flex-direction: column;
}

.container-all-table p {
  text-align: center;
  margin: 0;
}

.result-table {
  width: 23rem;
  margin: 1rem 0;
  border-collapse: collapse;
  align-self: center;
}

.result-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.result-table td:first-child {
  text-align: left;
}

.result-table td:last-child {
  text-align: right;
  font-weight: bold;
}

.anime-info {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.container-empty {
  margin-bottom: 10rem;
}
