@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat.ttf") format("opentype");
}
:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e0e0e0;
  background: #151b31;
  background: linear-gradient(180deg, #151b31 0%, #101528 52%, #080d1e 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
